body {
  height: 90vh;
}
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 20px;
}
.expertise-container {
  padding: 80px;
  .underline {
    background-color: #f3e214;
    height: 6px;
    width: 200px;
    border-radius: 10px;
  }
  .expertise-wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    .expertise {
      border-radius: 10px;
      background-color: #ffff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 20px;
    }
    .title-icon-wrapper {
      font-weight: 300;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .brand-icon {
        font-size: 3rem;
        margin-right: 20px;
      }
    }
  }
}
